:root{
    --senati-color: #0A39E4;
}

.bg-senati {
    background-color: var(--senati-color);
}

.carousel {
    max-height: 550px;
    overflow: hidden;
}

.d-block {
    object-fit: cover;
    object-position: center;
}